@use "./layout/variables" as vars;

.btn {
  background: vars.$blue;
  color: vars.$white;
  border: 1px solid vars.$blue;
  display: inline-block;
  width: fit-content;
  border-radius: 26px;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.333;
  padding: 16px 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  @media (min-width: vars.$pc) {
    padding: 25px 50px;
    font-size: 18px;
  }
  &:hover {
    color: vars.$blue;
    border-color: vars.$blue;
    background-color: transparent;
  }
}

.contact-btn {
  background: vars.$white;
  color: vars.$blue;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 30px 20px 20px;
  border-radius: 30px 100px 100px 30px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  @media (min-width: vars.$laptop) {
    padding: 34px 43px 34px 36px;
  }
  &:hover {
    border-radius: 100px 30px 30px 100px;
  }
}