@use "./layout/variables" as vars;

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  .holder {
    background: vars.$blue;
    border-radius: 40px;
    padding: 40px 20px;
    @media (min-width: vars.$laptop) {
      border-radius: 80px;
      padding: 60px;
    }
    @media (min-width: vars.$pc-xxl) {
      padding: 125px 65px 100px 100px;
    }
  }
}

.footer-top {
  margin-bottom: 24px;
  @media (min-width: vars.$tablet) {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  @media (min-width: vars.$laptop) {
    margin-bottom: 50px;
  }
  @media (min-width: vars.$pc-xxl) {
    gap: 33px;
    margin-bottom: 75px;
  }
}

.footer-title {
  font-size: 46px;
  margin-bottom: 20px;
  @media (min-width: vars.$tablet) {
    font-size: 54px;
    margin-bottom: 0;
  }
  @media (min-width: vars.$laptop) {
    font-size: 72px;
  }
  @media (min-width: vars.$pc-xl) {
    font-size: 132px;
  }
  @media (min-width: vars.$pc-xxl) {
    font-size: 175px;
  }
}

.footer-subtitle {
  max-width: 614px;
  width: 100%;
  font-size: 24px;
  display: block;
  margin-bottom: 80px;
  @media (min-width: vars.$tablet) {
    width: 50%;
  }
  @media (min-width: vars.$laptop) {
    font-size: 30px;
    margin-bottom: 100px;
  }
  @media (min-width: vars.$pc-xl) {
    font-size: 36px;
    margin-bottom: 140px;
  }
  @media (min-width: vars.$pc-xxl) {
    font-size: 44px;
    margin-bottom: 220px;
  }
}

.footer-bottom {
  background: rgba(vars.$white, 0.03);
  border-radius: 40px;
  padding: 30px;
  @media (min-width: vars.$tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 80px;
    gap: 40px;
  }
  @media (min-width: vars.$pc-xl) {
    padding: 40px 60px;
  }
  @media (min-width: vars.$pc-xxl) {
    padding: 47px 90px;
  }
}

.footer-logo {
  max-width: 96px;
  width: 100%;
  display: inline-block;
  margin-bottom: 20px;
  @media (min-width: vars.$tablet) {
    margin-bottom: 0;
  }
  img {
    display: block;
    width: 100%;
  }
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media (min-width: vars.$pc-xxl) {
    column-gap: 50px;
  }
  a {
    text-decoration: none;
  }
}

.footer-btn {
  background: rgba(vars.$white, 0.05);
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  flex-shrink: 0;
  min-height: 120px;
  transition: all 0.3s ease-in-out;
 @media (min-width: vars.$tablet) {
   min-width: 250px;
 }
  @media (min-width: vars.$pc-xl) {
    font-size: 24px;
  }
  @media (min-width: vars.$pc-xxl) {
    min-width: 320px;
    font-size: 28px;
    border-radius: 80px;
  }
  &:hover {
    background: vars.$white;
    color: vars.$dark-blue;
  }
}