//Variables
$white: #fff;
$black: #000;
$dark-blue: #050F27;
$light: #F7F8F8;
$yellow: #FFC250;
$blue: #111B31;

$base-font: "Nunito Sans", "Times", "Baskerville", "Georgia", serif;

$tablet: 768px;
$laptop: 1024px;
$pc: 1280px;
$pc-xl: 1600px;
$pc-xxl: 1920px;

$font-size: 16px;
